<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>

<header>
    <div class="header-buttons">
        <button onclick="goToHomePage()">Home</button>
        <button onclick="signOut()">Sign Out</button>
    </div>
    <h1>Flight Details</h1>
</header>

<p>ID: <span id="flightId">1</span></p>
<p>Name: <span id="flightName">Flight 1</span></p>
<p>Itinerary: <span id="flightItinerary">Departure City - Arrival City</span></p>
<p>Pending Passengers List: <span id="pendingPassengers">Passenger 1, Passenger 2</span></p>
<p>Registered Passengers List: <span id="registeredPassengers">Passenger 3, Passenger 4</span></p>
<button onclick="cancelFlight()">Cancel Flight</button>

<script>
    function cancelFlight() {
        // Implement logic to cancel the flight and refund passengers
        // You can show a confirmation message or handle this as needed
        alert('Flight canceled. Refunding passengers.');
    }
    function goToHomePage() {
            // Redirect to the home page (replace 'home.html' with your actual home page)
            window.location.href = 'company-home.html';
    }

    function signOut() {
        // Redirect to the login page (replace 'login.html' with your actual login page)
        window.location.href = 'login.html';
    }
</script>

</body>
</html>
