<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>

<form id="registrationForm" onsubmit="openAdditionalInfo(event)">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="tel">Telephone:</label>
    <input type="tel" id="tel" name="tel" required>

    <label for="type">Type:</label>
    <select id="type" name="type" required>
        <option value="company">Company</option>
        <option value="passenger">Passenger</option>
    </select>

    <button type="submit">Continue To Register</button>
    <a href="login.html">
        <button type="button">Login</button>
    </a>
</form>

<script>
    function openAdditionalInfo(event) {
        event.preventDefault(); // Prevents the form from submitting in the default way

        // Get the selected type from the form
        var selectedType = document.getElementById('type').value;

        // Redirect to the appropriate additional information form page based on the type
        if (selectedType === 'company') {
            window.location.href = 'additional-info-company.html';
        } else if (selectedType === 'passenger') {
            window.location.href = 'additional-info-passenger.html';
        } else {
            // Handle other types or show an error message
            alert('Invalid type selected');
        }
    }
</script>

</body>
</html>